html {
    font-size: 16px;
    background-color: navy;
    color: white;
}
/*   fixed image and nav   */
header {
    border-bottom: 2px solid gold;
    margin-top: 70px;
}
#reducedImage {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid gold;
    position: fixed;
    top: 10px;
    left: 10px;

}
nav {
    position: fixed;
    top: 0;
    right: 0;
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
}
nav a:hover {
    background-color: gold;
    color: navy;
}
section#welcome {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
}

footer {
    border-top: 2px solid gold;
    position: fixed;
    bottom: 0;
    width: 100%;
}
div.cpRight {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
div.social {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

/*   about css   */

div.profilePicture img{
    height: 200px;
    width: 200px;
}