* {
    box-sizing: border-box;
}
body{
    color: white;
    background-color: navy;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 40px 100px auto 60px;
    grid-template-areas:    "hd hd"
                            "img nav"
                            "section section"
                            "footer footer"
}
header {
    border-bottom: 2px solid gold;
    grid-area: hd;
    display: flex;
    align-items: center;
}
#reducedImage {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid gold;
    grid-area: img;
}
nav {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid gold;
    grid-area: nav;
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    padding: 10px;
}
nav a:hover,
nav a:active {
    background-color: gold;
    color: navy;
}
section {
    grid-area: section;
}
footer {
    border-top: 2px solid gold;
    width: 100%;
    grid-area: footer;
}
div.cpRight {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
div.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    padding: 1em;
}

/*   index css   */

section#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background-color: gold;
    color: navy;
    border: 2px solid white;
    padding: 0.5em;
}
section p {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding: 1em
}
/*   about css   */
div.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.image {
    display: flex;
    justify-content: center;
}
div img {
    border-radius: 2em;
    height: 230px;
    width: 230x;
}
/*    skills css     */
div.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}
li {
    border: 0.1em solid gold;
    box-shadow: 0.05em 0.05em 0.05em gold;
    padding: 1em;
    margin: 10px;
    text-align: center;
}
li.odd {
    color: navy;
    background-color:white;
}
li.even {
    color: white;
    background-color: navy;
}

/*    projects css   */

/* the green van man style*/
div.theGreenVanMan {
    display: flex;
    flex-direction: column; 
    background-color: forestgreen;    
}
div.theGreenVanMan h3,
div.randomWorkoutSelector h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
div.theGreenVanMan p,
div.randomWorkoutSelector p {
    text-align: left;
    font-size: 1.2rem;
}
div.theGreenVanMan h3,
.theGreenVanMan .techUsed li,
div.greenView a {
    color: black;
    background-color: yellow;
    border: 0.2em solid black;
    border-radius: 0.8em;
    box-shadow: 0.1em 0.1em 0.1em black;
    margin: 1em;
    padding: 0.8em;
}
.theGreenVanMan .techUsed li,
.randomWorkoutSelctor .techUsed li {
    font-size: 1.2rem;
    font-weight: 500;
}
div.greenView,
div.randomView {
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
    border-bottom: 0.4em solid white;
}
div.greenView a,
div.randomView a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}
div.greenView a:hover {
    background-color: white;
    box-shadow: none;
}

/* the random workout generator */
div.randomWorkoutSelector {
    display: flex;
    flex-direction: column;
    background-color: orange;
    color: black;
}
div.randomWorkoutSelector h3,
.randomWorkoutSelector .techUsed li,
div.randomView a {
    color: orange;
    background-color: black;
    border: 0.2em solid black;
    border-radius: 0.8em;
    box-shadow: 0.1em 0.1em 0.1em black;
    margin: 1em;
    padding: 0.8em;
}
div.randomView a:hover {
    color: black;
    background-color: orange;
    box-shadow: none;
}

/*    contact css   */